<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2>Search results for: "<%= search %>"</h2>
    <div class="outer-box">

        <% for (let note of notes) { %>

            <div class="box">
                <!-- title -->
                <div class="note">
                    Title:
                    <p class="details">
                        <%= note.title %>
                    </p>
                </div>

                <!-- Content & Edit content btn -->
                <div class="note">
                    Content:
                    <p class="details">
                        <%= note.content %>
                    </p>
                </div>

                <!-- Created time -->
                <% const isUpdated=note.updatedAt && note.updatedAt> note.createdAt;
                    const date = isUpdated ? note.updatedAt : note.createdAt;
                    %>
                    <div class="note note-time">
                        <span class="time-label">
                            <%= isUpdated ? "Updated:" : "Created:" %>
                        </span>
                        <span class="time-label">
                            <%= new Date(date).toLocaleTimeString() %><br />
                                <%= new Date(date).toLocaleDateString() %>
                        </span>
                    </div>

                    <div class="note-footer">
                        <form action="/notes/<%= note._id %>/edit" method="get">
                            <button type="submit">Edit</button>
                        </form>

                        <form action="/notes/<%= note._id %>?_method=DELETE" method="post">
                            <button type="submit"
                                onclick="return confirm(`This action can't be reverted back. Are you sure to delete?`)">Delete</button>
                        </form>
                    </div>
            </div>
            <% } %>
    </div>

</body>

</html>